@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div style="text-align: center; margin-top:70px">
    <a></a>
</div>
<h1 style="text-align: center; margin-top:10px; font-weight:500">Epharma</h1>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4 style="text-align: center;">Register an admin account.</h4>
                <hr style="text-align: center;" />
                <div style="text-align: center;
    font-size: 22px;
    font-weight: bold;
" asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span style="text-align: center;" asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <fieldset>
                        <div class="input-group">
                            <input asp-for="Input.Password" type="password" class="form-control" id="Password" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">   <i id="ShowPassword" class='bx bx-show'></i> </span>
                            </div>
                            <span style="text-align: center;" asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <fieldset>
                        <div class="input-group">
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">   <i id="ShowConfirmPassword" class='bx bx-show'></i> </span>
                            </div>
                            <span style="text-align: center;" asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>
                <div style="text-align: center;" class="form-group">
                    <button style="text-align: center;" type="submit" class="btn btn-primary">Register</button>
                </div>

            </form>
        </section>
    </div>
    <div class="col-md-4"></div>

</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {

            //CheckBox Show Password
            $('#ShowPassword').click(function () {
                var password = document.querySelector('#Password');
                var TogglePassword = document.querySelector('#ShowPassword');
                // $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                const classs = TogglePassword.getAttribute('class') === 'bx bx-show' ? 'bx bx-hide' : 'bx bx-show';
                TogglePassword.setAttribute('class', classs);
            });


            $('#ShowConfirmPassword').click(function () {
                var password = document.querySelector('#ConfirmPassword');
                var TogglePassword = document.querySelector('#ShowConfirmPassword');
                // $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                const classs = TogglePassword.getAttribute('class') === 'bx bx-show' ? 'bx bx-hide' : 'bx bx-show';
                TogglePassword.setAttribute('class', classs);
            });
        });
    </script>

}
