@model EPHARMA.Models.DoctorHoliday

@{
    ViewData["Title"] = "Create";
}
<section id="multiple-column-form">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">@(Model.DoctorHolidayId ==0 ? "Create Doctor Holiday" : "Edit Doctor Holiday")</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="DoctorHolidayId" />
                        <input type="hidden" asp-for="Date" />
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DoctorId" class="control-label"></label>
                                    <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId">
                                        <option value="">Select Doctor</option>
                                    </select>
                                    <span asp-validation-for="DoctorId" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="StartTime" class="control-label"></label>
                                    <input asp-for="StartTime" class="form-control" />
                                    <span asp-validation-for="StartTime" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="EndTime" class="control-label"></label>
                                    <input asp-for="EndTime" class="form-control" />
                                    <span asp-validation-for="EndTime" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="HolidayDate" class="control-label"></label>
                                    <input asp-for="HolidayDate" class="form-control" />
                                    <span asp-validation-for="HolidayDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <br />
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input CheckLikeRadio" type="checkbox" id="IsFullDay" checked="IsFullDay.Selected">
                                    <label class="custom-control-label" for="IsFullDay">
                                        IsFullDay
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button id="SubmitButton" type="submit" class="btn btn-primary btn-round">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
